#productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#producto{
    display: flex;
    height: 190pt;
    width: 190pt;
    padding: 10px;
    background-color: #f3f3f3;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#producto:hover{
    background-color: rgb(20, 18, 18, 0.3);
    transition: all 300ms ease;
}

