#productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#producto{
    position: relative;
    display: flex;
    height: 300pt;
    width: 190pt;
    background-color: #f3f3f3;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#imagen{
    position: absolute;
    display: flex;
    height: 190pt;
    width: 190pt;
    top: 0;
}

#descripcion{
    position: absolute;
    bottom: 0;
}

#producto:hover{
    background-color: rgb(20, 18, 18, 0.3);
    transition: all 300ms ease;
}


#titulo h1 {
    cursor: pointer;
    font-weight: bold;
}
#titulo svg{
    cursor: pointer;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
.form {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2); */
    width: 450px;
}
header{
    background-color: #f3f3f3;
}
#contTable{
    background-color: #f3f3f3;
    border-radius: 5px;
}

