#opciones{
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    border-radius: 10px;
}
#opciones a{
    background-color: #f3f3f3;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    color: #3f3f3f;
}

#recuperar{
    text-decoration: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

#productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

#producto{
    position: relative;
    display: flex;
    height: 300pt;
    width: 190pt;
    background-color: #f3f3f3;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#productos a{
    text-decoration: none;
    color: #3f3f3f;
}

#imagen{
    position: absolute;
    display: flex;
    height: 190pt;
    width: 190pt;
    top: 0;
}

#descripcion{
    position: absolute;
    bottom: 0;
}
#descripcion #a1{
    color: #f3f3f3;
}

#producto:hover{
    background-color: rgb(20, 18, 18, 0.3);
    transition: all 300ms ease;
}

#productoAll{
    position: relative;
    display: flex;
    height: 300pt;
    width: 70%;
    background-color: #f3f3f3;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#imagenAll{
    position: absolute;
    left: 0;
    display: flex;
    height: 300pt;
    width: 300pt;
}

#descripcionAll{
    position: absolute;
    right: 0;
    width: 260pt;
}
#descripcionAll #a1{
    color: #f3f3f3;
}


#titulo h1 {
    cursor: pointer;
    font-weight: bold;
}
#titulo svg{
    cursor: pointer;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
.form {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2); */
    width: 450px;
}
header{
    background-color: #f3f3f3;
}
#contTable{
    background-color: #f3f3f3;
    border-radius: 5px;
}

